<nav aria-label="breadcrumb" class="custom-breadcrumb">
  <ol>
    <li>
      <button matButton="tonal" routerLink="/" aria-label="Explorer home">
        <mat-icon>home</mat-icon>
      </button>
    </li>

    @for (crumb of breadcrumbs; track crumb; let last = $last) {
      <li>
        <span class="separator"> / </span>
        @if (!last) {
          <a matButton="tonal" [routerLink]="crumb.url" aria-label="Breadcrumb link">{{ crumb.label }}</a>
        }
        <!-- <a *ngIf="!last" [routerLink]="crumb.url">{{ crumb.label }}</a> -->
        @if (last) {
          <span class="current-item">{{ crumb.label }}</span>
        }
      </li>
    }
  </ol>
</nav>