@if(message) {
  <h2>
    {{message}}
  </h2>
}
@else if(fileData && fileData.length == 0) {
  <h2>
    This folder is empty
  </h2>
}
@else if(fileData) {
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Size (Bytes)</th>
    </tr>
    <tr *ngFor="let data of fileData">
      <td>
        <a [href]="data.path" (click)="linkClick($event, data)">
          {{data.name}}
        </a>
        <mat-icon class="icon" [fontIcon]="data.type == 'd' ? 'folder' : 'download'"></mat-icon>
      </td>
      
      <td>{{data.type == "f" ? "File" : "Directory"}}</td>
      <td>{{data.type == "f" ? data.sizeBytes : ""}}</td>
    </tr>
  </table>
}
@else {
  <mat-spinner></mat-spinner>
}