<div *ngIf="loading; else entries">
  <mat-spinner></mat-spinner>
</div>

<ng-template #entries>
  <div *ngIf="fileData.length == 0;else listing">
    <h2>
      This folder is empty
    </h2>
  </div>
  <ng-template #listing>
    <table>
      <tr>
        <th>
          Name
        </th>
        <th>
          Type
        </th>
        <th>
          Size (Bytes)
        </th>
      </tr>
      <tr *ngFor="let data of fileData">
        <td *ngIf="data.type == 'd';else downloadLink"><a [href]="data.url">{{data.name}}</a><mat-icon class="icon" fontIcon="folder"></mat-icon></td>
        <ng-template #downloadLink><td><a href="javascript:void(0);" (click)="download(data.url, data.name)">{{data.name}}</a><mat-icon class="icon" fontIcon="download"></mat-icon></td></ng-template>
        <td>{{data.type == "f" ? "File" : "Directory"}}</td>
        <td>{{data.type == "f" ? data.sizeBytes : ""}}</td>
      </tr>
    </table>
  </ng-template>
</ng-template>