table {
  width: 100%;
  border-collapse:separate;
  border: 1px solid #ddd;
  border-radius: 6px
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #b75417;
  color: white;
  font-weight: 500;
  border-radius:6px
}

.icon {
  position: relative;
  top: 5px;
  padding-left: 10px;
}